.typearea {
  width: 1240px;
  margin: 0 auto;
}

.clearfix::after {
  content: '';
  height: 0;
  display: block;
  visibility: hidden;
  clear: both;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "PingFang SC","\5FAE\8F6F\96C5\9ED1","Microsoft Yahei",Arial,Helvetica,sans-serif,"\5B8B\4F53";
  font-size: 14px;
  background: #F4F6FA;
}

header {
  height: 81px;
  background-color: #fff;
  border-bottom: 1px solid #efefef;
}
header .logo {
  float: left;
  width: 150px;
}
header .logo img {
  width: 125px;
  margin-top: 28px;
}
header .cart-order {
  float: left;
  margin-left: 30px;
  line-height: 80px;
}
header .cart-order li {
  float: left;
  color: #999;
}
header .cart-order li::after {
  content: ">";
  margin: 0 10px;
}
header .cart-order li:last-child::after {
  content: "";
  margin: 0;
}
header .cart-order .active {
  color: #333;
}
header .user-info {
  float: right;
  height: 40px;
  font-size: 12px;
  line-height: 40px;
  margin-top: 20px;
}
header .user-info .user-info-item {
  float: left;
  padding: 0 20px;
}
header .user-info .user-info-item > a {
  display: block;
  color: #666;
  transition: all .2s linear;
}
header .user-info .user-info-item:hover a {
  color: #008cff;
}
header .user-info .user-info-item .user-info-list {
  border-top: 0;
  background: #fff;
  transition: all .2s linear;
  height: 0;
  overflow: hidden;
  border: 0;
}
header .user-info .user-info-item .user-info-list a {
  height: 35px;
  line-height: 35px;
  color: #666;
  transition: all .2s linear;
}
header .user-info .user-info-item .user-info-list a:hover {
  background-color: #fafafc;
}
header .user-info .user-login-after {
  display: none;
  padding: 0;
}
header .user-info .user-login-after a {
  display: block;
  padding: 0 20px;
}
header .user-info .user-login-after .user-exit {
  border-top: 1px solid #ccc;
  text-align: center;
}
header .user-info .user-login-after .user-triangle {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 4px;
  height: 14px;
  margin-left: 5px;
}
header .user-info .user-login-after .user-triangle::before, header .user-info .user-login-after .user-triangle::after {
  position: absolute;
  top: 50%;
  width: 0;
  height: 0;
  content: '';
  margin-top: -2px;
  border-bottom: 0;
  border-top: 4px solid #666;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  transition: border .2s linear;
}
header .user-info .user-login-after .user-triangle::after {
  border-top: 4px solid #fafafc;
  margin-top: -3px;
}
header .user-info .user-login-after:hover > a {
  border: 1px solid #ccc;
  border-bottom: none;
}
header .user-info .user-login-after:hover .user-info-list {
  height: 177px;
  border: 1px solid #ccc;
  border-top: none;
}
header .user-info .user-login-after:hover .user-triangle::before {
  border-top: 0;
  border-bottom: 4px solid #008cff;
}
header .user-info .user-login-after:hover .user-triangle::after {
  margin-top: -1px;
  border-top: 0;
  border-bottom: 4px solid #fff;
}

.cart {
  padding-bottom: 40px;
  overflow: hidden;
}
.cart .cart-empty {
  height: 360px;
  background: #fff;
  margin: 10px 0 40px;
}
.cart .cart-empty-content {
  padding: 114px 0 113px;
  text-align: center;
}
.cart .cart-empty-content .empty-left {
  display: inline-block;
  vertical-align: middle;
  width: 102px;
  height: 133px;
  background-image: url("../images/cart-empty.png");
  margin-right: 30px;
}
.cart .cart-empty-content .empty-right {
  display: inline-block;
  vertical-align: middle;
  text-align: left;
  color: #666;
}
.cart .cart-empty-content .empty-right .empty-title {
  font-size: 18px;
  font-weight: bolder;
  margin-bottom: 15px;
}
.cart .cart-empty-content .empty-right .empty-desc {
  margin-bottom: 20px;
}
.cart .cart-empty-content .empty-right .empty-tologin a {
  display: block;
  width: 130px;
  height: 36px;
  line-height: 34px;
  padding: 0 36px;
  color: #FFF;
  border-color: #00c3f5;
  background-color: #00c3f5;
}
.cart .login .cart-empty-content .empty-left {
  width: 100px;
  height: 114px;
  background-image: url("../images/cart-login-empty.png");
}
.cart .cart-container {
  display: none;
}
.cart .cart-container .cart-header {
  height: 50px;
  margin-top: 10px;
  font-size: 12px;
  background-color: #fff;
  color: rgba(51, 51, 51, 0.4);
  border-bottom: 1px solid #EFEFEF;
}
.cart .cart-container .cart-header > div {
  float: left;
  padding: 12.5px 0;
  height: 100%;
  line-height: 22px;
  text-align: center;
}
.cart .cart-container .cart-select {
  width: 537px;
  text-align: left !important;
  padding-left: 24px !important;
}
.cart .cart-container .cart-price {
  width: 208px;
}
.cart .cart-container .cart-number {
  width: 189px;
}
.cart .cart-container .cart-total {
  width: 153px;
}
.cart .cart-container .cart-ctrl {
  width: 153px;
  padding-right: 48px !important;
  color: #00c3f5;
  text-align: right !important;
  cursor: pointer;
}
.cart .cart-container .cart-select-all {
  vertical-align: middle;
  color: #333;
  cursor: pointer;
}
.cart .cart-container .cart-select-all .ipt {
  display: inline-block;
  width: 20px;
  height: 20px;
  border: none;
  vertical-align: middle;
  margin-right: 5px;
  background-color: #fff;
  cursor: pointer;
}
.cart .cart-container .cart-select-all span {
  display: inline-block;
  vertical-align: middle;
}
.cart .cart-container .cart-merchant {
  height: 50px;
  line-height: 49px;
  background-color: #FAFAFC;
}
.cart .cart-container .cart-merchant .cart-select {
  width: auto;
  display: inline-block;
}
.cart .cart-container .cart-merchant .cart-select-all {
  display: inline-block;
  vertical-align: middle;
  color: #666;
  cursor: pointer;
}
.cart .cart-container .cart-merchant .cart-select-all .ipt {
  display: inline-block;
  width: 20px;
  height: 20px;
  border: none;
  vertical-align: middle;
  margin-right: 5px;
  background-color: #fff;
  cursor: pointer;
}
.cart .cart-container .cart-merchant .cart-select-all span {
  display: inline-block;
  vertical-align: middle;
}
.cart .cart-container .cart-merchant .cart-select-free {
  display: inline-block;
  vertical-align: middle;
  font-size: 12px;
  color: #8c8c8c;
  margin-left: 24px;
  display: none;
}
.cart .cart-container .cart-merchant .cart-select-unfree {
  color: #E02B41;
  display: inline-block;
  vertical-align: middle;
  font-size: 12px;
  margin-left: 24px;
}
.cart .cart-container .cart-merchant .cart-select-unfree span {
  margin-left: 5px;
  color: #00c3f5;
  cursor: pointer;
}
.cart .cart-container .cart-product-item {
  border-bottom: 1px solid #EFEFEF;
  margin-bottom: 10px;
  background: #fff;
}
.cart .cart-container .cart-product-list {
  height: 150px;
  border-top: 1px solid #EFEFEF;
}
.cart .cart-container .cart-product-list:last-child {
  border: none;
}
.cart .cart-container .cart-product-list > div {
  float: left;
  height: 100%;
  line-height: 150px;
  text-align: center;
}
.cart .cart-container .cart-product-list .check {
  display: inline-block;
  width: 20px;
  height: 20px;
  border: none;
  vertical-align: middle;
  margin-right: 5px;
  background-color: #fff;
  cursor: pointer;
}
.cart .cart-container .cart-product-list .product-link {
  display: inline-block;
  vertical-align: middle;
  color: #262626;
  margin-left: 19px;
}
.cart .cart-container .cart-product-list .product-link img {
  width: 100px;
  height: 100px;
}
.cart .cart-container .cart-product-list .product-info {
  margin-left: 19px;
  display: inline-block;
  vertical-align: middle;
  color: #262626;
  margin-left: 19px;
  width: 330px;
}
.cart .cart-container .cart-product-list .product-info p {
  line-height: normal;
}
.cart .cart-container .cart-product-list .product-info .cart-product-item-name {
  font-size: 16px;
  color: #262626;
}
.cart .cart-container .cart-product-list .product-info .cart-product-desc {
  color: #8C8C8C;
  margin-top: 4px;
}
.cart .cart-container .cart-product-list .cart-product-price::before {
  content: "\FFE5";
}
.cart .cart-container .cart-product-list .cart-number {
  padding: 63px 53px;
  position: relative;
}
.cart .cart-container .cart-product-list .cart-number button {
  float: left;
  width: 24px;
  height: 24px;
  padding: 0;
  border: 0;
  background: #fff;
  outline: 0;
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
  border: 1px solid #ccc;
}
.cart .cart-container .cart-product-list .cart-number .cart-num {
  float: left;
  width: 35px;
  height: 24px;
  border: 0;
  outline: 0;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
.cart .cart-container .cart-product-list .cart-number .cart-product-number-max {
  color: #999;
  position: absolute;
  top: 97px;
  left: 50%;
  transform: translateX(-50%);
  line-height: normal;
  display: none;
}
.cart .cart-container .cart-product-list .cart-number .cart-product-number-max.show {
  display: block;
}
.cart .cart-container .cart-product-list .cart-total span {
  color: #E02B41;
  font-size: 16px;
}
.cart .cart-container .cart-product-list .cart-total span::before {
  content: "\FFE5";
}
.cart .cart-container .cart-product-list .cart-product-del {
  color: #666;
  margin-right: 3px;
  font-size: 20px;
}
.cart .cart-container .cart-footer {
  background: #fff;
  height: 70px;
  line-height: 67px;
}
.cart .cart-container .cart-footer .cart-footer-left {
  float: left;
  margin-left: 24px;
}
.cart .cart-container .cart-footer .cart-footer-left .cart-footer-del {
  margin: 0 24px 0 12px;
  color: #8C8C8C;
  cursor: pointer;
}
.cart .cart-container .cart-footer .cart-footer-left .cart-footer-count {
  color: #8C8C8C;
}
.cart .cart-container .cart-footer .cart-footer-left .cart-footer-count .cart-footer-num {
  margin: 0 5px;
}
.cart .cart-container .cart-footer .cart-footer-left .cart-footer-count .cart-footer-num.blue {
  color: #00c3f5;
}
.cart .cart-container .cart-footer .cart-footer-right {
  float: right;
  margin-right: 30px;
}
.cart .cart-container .cart-footer .cart-footer-right .cart-footer-sum {
  color: #595959;
}
.cart .cart-container .cart-footer .cart-footer-right .cart-footer-sum .cart-footer-num.red {
  color: #E02B41;
}
.cart .cart-container .cart-footer .cart-footer-right .cart-footer-sum .cart-footer-total {
  font-size: 20px;
  font-weight: bolder;
  color: #E02B41;
  margin-right: 24px;
  vertical-align: middle;
}
.cart .cart-container .cart-footer .cart-footer-right .cart-footer-sum .cart-footer-total::before {
  content: "\FFE5";
}
.cart .cart-container .cart-footer .cart-footer-right .cart-toclearing {
  display: inline-block;
  width: 98px;
  height: 34px;
  padding: 0 20px;
  line-height: 34px;
  text-align: center;
  color: #fff;
  background: #DBDBDB;
  border-radius: 2px;
  transition: all .5s;
  cursor: no-drop;
}
.cart .cart-container .cart-footer .cart-footer-right .cart-toclearing.success {
  background: #F66567;
  cursor: pointer;
}

footer {
  padding: 48px 0 20px;
  border-top: 1px solid #f1f1f1;
  font-size: 12px;
  color: #999;
  background: #fff;
}
footer a {
  color: #999;
}
footer a:hover {
  color: #008cff;
}
footer .footer-server {
  float: left;
}
footer .footer-server li {
  float: left;
  width: 150px;
  text-align: center;
}
footer .footer-server li a {
  display: block;
  line-height: 27px;
  font-size: 12px;
  color: #666;
}
footer .footer-server li img {
  width: 50px;
  margin: 0 auto;
}
footer .footer-server li span {
  line-height: 30px;
  color: #999;
}
footer .footer-online {
  float: right;
  text-align: right;
  margin-top: -18px;
}
footer .footer-online span {
  color: #999;
  font-size: 12px;
  line-height: 30px;
}
footer .footer-online p {
  color: #008cff;
  font-size: 25px;
  font-weight: 400;
  margin-top: -6px;
  line-height: 40px;
}
footer .footer-online a {
  height: 30px;
  padding: 0 16px;
  text-align: center;
  line-height: 30px;
  color: #fff;
  border-radius: 20px;
  margin-top: 3px;
  display: inline-block;
  background: #008cff;
}
footer .footer-line {
  margin: 10px auto 28px;
  height: 1px;
  border-top: 1px solid #eee;
}
footer .footer-info {
  float: left;
}
footer .footer-info li {
  float: left;
  padding-right: 15px;
  border-right: 1px solid #d6d6d6;
  height: 18px;
  margin-right: 15px;
}
footer .footer-info li a {
  display: block;
  position: relative;
  line-height: 18px;
}
footer .footer-info li a:hover {
  color: #008cff;
}
footer .footer-info .language {
  border-right: none;
  position: relative;
}
footer .footer-info .language:hover .more-lang {
  display: block;
}
footer .footer-info .language a {
  padding-right: 10px;
  padding-left: 3px;
}
footer .footer-info .language a:hover {
  color: #515151;
}
footer .footer-info .language span {
  margin-bottom: -4px;
}
footer .footer-info .language .lang-logo {
  display: inline-block;
  width: 18px;
  height: 18px;
  background: url("../images/language-sprite.png") no-repeat 0 0/cover;
  margin-left: -3px;
}
footer .footer-info .language .more-lang {
  position: absolute;
  bottom: 18px;
  font-size: 12px;
  padding-bottom: 12px;
  display: none;
}
footer .footer-info .language .more-lang li {
  border: none;
  margin: 0;
  padding: 0;
}
footer .footer-info .language .more-lang ul {
  overflow: hidden;
  width: 115px;
  background: #fff;
  border: 1px solid #f1f1f1;
}
footer .footer-info .language .more-lang .lang-list {
  height: 37px;
  padding: 2px 4px 0 10px;
  background: #fff;
  line-height: 35px;
}
footer .footer-info .certificate {
  padding-top: 8px;
}
footer .footer-info .certificate a {
  margin: 0 3px;
}
footer .footer-info .police {
  padding: 0 6px;
}
footer .footer-info .police span {
  display: inline-block;
  width: 14px;
  height: 18px;
  background: url("../images/footer-police.png") no-repeat 50% center;
  margin-bottom: -4px;
}
footer .footer-info .footer-license,
footer .footer-info .footer-wel,
footer .footer-info .footer-trust {
  margin: 0 !important;
}
footer .footer-info .footer-license span,
footer .footer-info .footer-wel span,
footer .footer-info .footer-trust span {
  display: inline-block;
  width: 20px;
  height: 18px;
  margin-bottom: -4px;
}
footer .footer-info .footer-license span {
  background: url("../images/footer-license-01.png") no-repeat 50% center;
}
footer .footer-info .footer-license span:hover {
  background-image: url("../images/footer-license-02.png");
}
footer .footer-info .footer-wel span {
  background: url("../images/footer-wel-01.png") no-repeat 50% center;
}
footer .footer-info .footer-wel span:hover {
  background-image: url("../images/footer-wel-02.png");
}
footer .footer-info .footer-trust span {
  width: 25px;
  background: url("../images/footer-trust-01.png") no-repeat 50% center;
}
footer .footer-info .footer-trust span:hover {
  background-image: url("../images/footer-trust-02.png");
}
footer .subscribe {
  float: right;
  margin-top: 25px;
  position: relative;
}
footer .subscribe span {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 20px;
  position: relative;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 100%;
}
footer .subscribe span::after {
  content: '';
  width: 1px;
  height: 14px;
  position: absolute;
  right: -10px;
  bottom: 0;
  background: #eee;
}
footer .subscribe a:nth-child(1) span {
  background-image: url("../images/subscribe-01.png");
}
footer .subscribe a:nth-child(1) span:hover {
  background-image: url("../images/subscribe-01-01.png");
}
footer .subscribe a:nth-child(1):hover img {
  display: block;
}
footer .subscribe a:nth-child(2) span {
  background-image: url("../images/subscribe-02.png");
}
footer .subscribe a:nth-child(2) span:hover {
  background-image: url("../images/subscribe-02-01.png");
}
footer .subscribe a:nth-child(2):hover img {
  display: block;
}
footer .subscribe a:nth-child(3) span {
  background-image: url("../images/subscribe-03.png");
}
footer .subscribe a:nth-child(3) span:hover {
  background-image: url("../images/subscribe-03-01.png");
}
footer .subscribe a:nth-child(4) span {
  background-image: url("../images/subscribe-04.png");
}
footer .subscribe a:nth-child(4) span:hover {
  background-image: url("../images/subscribe-04-01.png");
}
footer .subscribe img {
  width: 180px;
  height: 180px;
  position: absolute;
  bottom: 31px;
  display: none;
}

/*# sourceMappingURL=cart.css.map */
