@mixin float-left {
    float: left;
}
@mixin float-right {
    float: right;
}
.typearea{
    width: 1240px;
    margin: 0 auto;
}
.clearfix::after{
    content: '';
    height: 0;
    display: block;
    visibility: hidden;
    clear: both;
}
*{
    box-sizing: border-box;
}
body{
    font-family: "PingFang SC","\5FAE\8F6F\96C5\9ED1","Microsoft Yahei",Arial,Helvetica,sans-serif,"\5B8B\4F53";
    font-size: 14px;
    background: #F4F6FA;
}
header{
    height: 81px;
    background-color: #fff;
    border-bottom: 1px solid #efefef;
    .logo{
        @include float-left();
        width: 150px;
        img{
            width: 125px;
            margin-top: 28px;
        }
    }
    .cart-order{
        @include float-left();
        margin-left: 30px;
        line-height: 80px;
        li{
            @include float-left();
            color: #999;
            &::after{
                content: ">";
                margin: 0 10px;
            }
            &:last-child::after{
                content: "";
                margin: 0;
            }
        }
        .active{
            color: #333;
        }
    }
    .user-info{
        @include float-right();
        height: 40px;
        font-size: 12px;
        line-height: 40px;
        margin-top: 20px;
        .user-info-item{
            @include float-left();
            padding: 0 20px;
            &>a{
                display: block;
                color: #666; 
                transition: all .2s linear;
            }
            &:hover a{
                color: #008cff;
            }
            .user-info-list{
                // height: 177px;
                // border: 1px solid #ccc;
                border-top: 0;
                background: #fff;
                transition: all .2s linear;
                height: 0;
                overflow: hidden;
                border: 0;
                a{
                    height: 35px;
                    line-height: 35px;
                    color: #666;
                    transition: all .2s linear;
                    &:hover{
                        background-color: #fafafc;
                    }
                }
            }
        }
        .user-login-after{
            display: none;
            padding: 0;
            a{
                display: block;
                padding: 0 20px;
            }
            .user-exit{
                border-top: 1px solid #ccc;
                text-align: center;
            }
            .user-triangle{
                position: relative;
                display: inline-block;
                vertical-align: middle;
                width: 4px;
                height: 14px;
                margin-left: 5px;
                &::before,&::after{
                    position: absolute;
                    top: 50%;
                    width: 0;
                    height: 0;
                    content: '';
                    margin-top: -2px;
                    border-bottom: 0;
                    border-top: 4px solid #666;
                    border-left: 4px solid transparent;
                    border-right: 4px solid transparent;
                    transition: border .2s linear;
                }
                &::after{
                    border-top: 4px solid #fafafc;
                    margin-top: -3px;
                }
            }
            &:hover{
                &>a{
                    border: 1px solid #ccc;
                    border-bottom: none;
                }
                .user-info-list{
                    height: 177px;
                    border: 1px solid #ccc;
                    border-top: none;
                }
                .user-triangle{
                    &::before{
                        border-top: 0;
                        border-bottom: 4px solid #008cff;
                    }
                    &::after{
                        margin-top: -1px;
                        border-top: 0;
                        border-bottom: 4px solid #fff;
                    }
                }
            } 
        }
    }
}
.cart{
    padding-bottom: 40px;
    overflow: hidden;
    .cart-empty{
        height: 360px;
        background: #fff;
        margin: 10px 0 40px;
    }
    .cart-empty-content{
        padding: 114px 0 113px;
        text-align: center;
        .empty-left{
            display: inline-block;
            vertical-align: middle;
            width: 102px;
            height: 133px;
            background-image: url('../images/cart-empty.png');
            margin-right: 30px;
        }
        .empty-right{
            display: inline-block;
            vertical-align: middle;
            text-align: left;
            color: #666;
            .empty-title{
                font-size: 18px;
                font-weight: bolder;
                margin-bottom: 15px;
            }
            .empty-desc{
                margin-bottom: 20px;
            }
            .empty-tologin{
                a{
                    display: block;
                    width: 130px;
                    height: 36px;
                    line-height: 34px;
                    padding: 0 36px;
                    color: #FFF;
                    border-color: #00c3f5;
                    background-color: #00c3f5;
                    text-align: center;
                }
            }
        }
    }
    .login{
        // display: none;
        .cart-empty-content{
            .empty-left{
                width: 100px;
                height: 114px;
                background-image: url('../images/cart-login-empty.png');
            }
        }
    }
    .cart-container{
        display: none;
        .cart-header{
            height: 50px;
            margin-top: 10px;
            font-size: 12px;
            background-color: #fff;
            color: rgba(51,51,51,.4);
            border-bottom: 1px solid #EFEFEF;
            &>div{
                @include float-left();
                padding: 12.5px 0;
                height: 100%;
                line-height: 22px;
                text-align: center;
            }
        }
        .cart-select{
            width: 537px;
            text-align: left!important;
            padding-left: 24px!important;
        }
        .cart-price{
            width: 208px;
        }
        .cart-number{
            width: 189px;
        }
        .cart-total{
            width: 153px;
        }
        .cart-ctrl{
            width: 153px;
            padding-right: 48px!important;
            color: #00c3f5;
            text-align: right!important;
            cursor: pointer;
        }
        .cart-select-all{
            vertical-align: middle;
            color: #333;
            cursor: pointer;
            .ipt{
                display: inline-block;
                width: 20px;
                height: 20px;
                border: none;
                vertical-align: middle;
                margin-right: 5px;
                background-color: #fff;
                cursor: pointer;
            }
            span{
                display: inline-block;
                vertical-align: middle;
            }
        }
        .cart-merchant{
            height: 50px;
            line-height: 49px;
            background-color: #FAFAFC;
            .cart-select{
                width: auto;
                display: inline-block;
            }
            .cart-select-all{
                display: inline-block;
                vertical-align: middle;
                color: #666;
                cursor: pointer;
                .ipt{
                    display: inline-block;
                    width: 20px;
                    height: 20px;
                    border: none;
                    vertical-align: middle;
                    margin-right: 5px;
                    background-color: #fff;
                    cursor: pointer;
                }
                span{
                    display: inline-block;
                    vertical-align: middle;
                }
            }
            .cart-select-free{
                display: inline-block;
                vertical-align: middle;
                font-size: 12px;
                color: #8c8c8c;
                margin-left: 24px;
                display: none;
            }
            .cart-select-unfree{
                color: #E02B41;
                display: inline-block;
                vertical-align: middle;
                font-size: 12px;
                margin-left: 24px;
                span{
                    margin-left: 5px;
                    color: #00c3f5;
                    cursor: pointer;
                }
            }
        }
        .cart-product-item{
            border-bottom: 1px solid #EFEFEF;
            margin-bottom: 10px;
            background: #fff;
        }
        .cart-product-list{
            height: 150px;
            border-top: 1px solid #EFEFEF;
            &:last-child{
                border: none;
            }
            &>div{
                @include float-left();
                height: 100%;
                line-height: 150px;
                text-align: center;
            }
            .check{
                display: inline-block;
                width: 20px;
                height: 20px;
                border: none;
                vertical-align: middle;
                margin-right: 5px;
                background-color: #fff;
                cursor: pointer;
            }
            .product-link{
                display: inline-block;
                vertical-align: middle;
                color: #262626;
                margin-left: 19px;
                img{
                    width: 100px;
                    height: 100px;
                }
            }
            .product-info{
                margin-left: 19px;
                display: inline-block;
                vertical-align: middle;
                color: #262626;
                margin-left: 19px;
                width: 330px;
                p{
                    line-height: normal;
                }
                .cart-product-item-name{
                    font-size: 16px;
                    color: #262626;
                }
                .cart-product-desc{
                    color: #8C8C8C;
                    margin-top: 4px;
                }
            }
            .cart-product-price{
                color: #666;
                &::before{
                    content: "\FFE5";
                }
            }
            .cart-number{
                padding: 63px 53px;
                position: relative;
                button{
                    @include float-left();
                    width: 24px;
                    height: 24px;
                    padding: 0;
                    border: 0;
                    background: #fff;
                    outline: 0;
                    font-weight: bold;
                    font-size: 20px;
                    cursor: pointer;
                    border: 1px solid #ccc;
                    &.disable{
                        cursor: no-drop;
                    }
                }
                .cart-num{
                    @include float-left();
                    width: 35px;
                    height: 24px;
                    border: 0;
                    outline: 0;
                    font-size: 12px;
                    font-weight: bold;
                    text-align: center;
                    border-top: 1px solid #ccc;
                    border-bottom: 1px solid #ccc;
                }
               .cart-product-number-max{
                    color: #999;
                    position: absolute;
                    top: 97px;
                    left: 50%;
                    transform: translateX(-50%);
                    line-height: normal;
                    display: none;
               }
               .cart-product-number-max.show{
                   display: block;
               }
            }
            .cart-total span{
                color: #E02B41;
                font-size: 16px;
                &::before{
                    content: "\FFE5";
                }
            }
            .cart-product-del{
                color: #666;
                margin-right: 3px;
                font-size: 20px;
            }
        }
        .cart-footer{
            background: #fff;
            height: 70px;
            line-height: 67px;
            .cart-footer-left{
                @include float-left();
                margin-left: 24px;
                .cart-footer-del{
                    margin: 0 24px 0 12px;
                    color: #8C8C8C;
                    cursor: pointer;
                }
                .cart-footer-count{
                    color: #8C8C8C;
                    .cart-footer-num{
                        margin: 0 5px;
                    }
                    .cart-footer-num.blue{
                        color: #00c3f5;
                    }
                }
            }
            .cart-footer-right{
                @include float-right();
                margin-right: 30px;
                .cart-footer-sum{
                    color: #595959;
                    .cart-footer-num.red{
                        color: #E02B41;
                    }
                    .cart-footer-total{
                        font-size: 20px;
                        font-weight: bolder;
                        color: #E02B41;
                        margin-right: 24px;
                        vertical-align: middle;
                        &::before{
                            content: "\FFE5";
                        }
                    }
                }
                .cart-toclearing{
                    display: inline-block;
                    width: 98px;
                    height: 34px;
                    padding: 0 20px;
                    line-height: 34px;
                    text-align: center;
                    color: #fff;
                    background: #DBDBDB;
                    border-radius: 2px;
                    transition: all .5s;
                    cursor: no-drop;
                }
                .cart-toclearing.success{
                    background: #F66567;
                    cursor: pointer;
                }
            }
        }
    }
}
footer{
    padding: 48px 0 20px;
    border-top: 1px solid #f1f1f1;
    font-size: 12px;
    color: #999;
    background: #fff;
    a{
        color: #999;
        &:hover{
            color: #008cff;
        }
    }
    .footer-server{
        float: left;
        li{
            float: left;
            width: 150px;
            text-align: center;
            a{
                display: block;
                line-height: 27px;
                font-size: 12px;
                color: #666;
            }
            img{
                width: 50px;
                margin: 0 auto;
            }
            span{
                line-height: 30px;
                color: #999
            }
        }
    }
    .footer-online{
        float: right;
        text-align: right;
        margin-top: -18px;
        span{
            color: #999;
            font-size: 12px;
            line-height: 30px;
        }
        p{
            color: #008cff;
            font-size: 25px;
            font-weight: 400;
            margin-top: -6px;
            line-height: 40px
        }
        a{
            height: 30px;
            padding: 0 16px;
            text-align: center;
            line-height: 30px;
            color: #fff;
            border-radius: 20px;
            margin-top: 3px;
            display: inline-block;
            background: #008cff
        }
    }
    .footer-line{
        margin: 10px auto 28px;
        height: 1px;
        border-top: 1px solid #eee;
    }
    .footer-info{
        float: left;
        li{
            float: left;
            padding-right: 15px;
            border-right: 1px solid #d6d6d6;    
            height: 18px;
            margin-right: 15px;
            a{
                display: block;
                position: relative;
                line-height: 18px;
                &:hover{
                    color: #008cff;
                }
            }
        }
        .language{
            border-right: none;
            position: relative;
            &:hover{
                .more-lang{
                    display: block;
                }
            }
            a{
                padding-right: 10px;
                padding-left: 3px;
                &:hover{
                    color: #515151;
                }
            }
            span{
                margin-bottom: -4px;
            }
            .lang-logo{
                display: inline-block;
                width: 18px;
                height: 18px;
                background: url('../images/language-sprite.png') no-repeat 0 0/cover;
                margin-left: -3px;
            }
            .more-lang{
                position: absolute;
                bottom: 18px;
                font-size: 12px;
                padding-bottom: 12px;
                display: none;
                li{
                    border: none;
                    margin: 0;
                    padding: 0;
                }
                ul{
                    overflow: hidden;
                    width: 115px;
                    background: #fff;
                    border: 1px solid #f1f1f1;
                }
                .lang-list{
                    height: 37px;
                    padding: 2px 4px 0 10px;
                    background: #fff;
                    line-height: 35px;
                }
            }
        }
        .certificate{
            padding-top: 8px;
            a{
                margin: 0 3px;
            }
        }
        .police{
            padding: 0 6px;
            span{
                display: inline-block;
                width: 14px;
                height: 18px;
                background: url('../images/footer-police.png') no-repeat 50% center;
                margin-bottom: -4px;
            }
        }
        .footer-license,
        .footer-wel,
        .footer-trust{
            margin: 0!important;
            span{
                display: inline-block;
                width: 20px;
                height: 18px;
                margin-bottom: -4px;
            }
        }
        .footer-license span{
            background: url('../images/footer-license-01.png') no-repeat 50% center;
            &:hover{
                background-image: url('../images/footer-license-02.png');
            }
        }
        .footer-wel span{
            background: url('../images/footer-wel-01.png') no-repeat 50% center;
            &:hover{
                background-image: url('../images/footer-wel-02.png');
            }
        }
        .footer-trust span{
            width: 25px;
            background: url('../images/footer-trust-01.png') no-repeat 50% center;
            &:hover{
                background-image: url('../images/footer-trust-02.png');
            }
        }
    }
    .subscribe{
        float: right;
        margin-top: 25px;
        position: relative;
        span{
            display: inline-block;
            width: 20px;
            height: 20px;
            margin-right: 20px;
            position: relative;
            background-repeat: no-repeat;
            background-position: 50%;
            background-size: 100%;
            &::after{
                content: '';
                width: 1px;
                height: 14px;
                position: absolute;
                right: -10px;
                bottom: 0;
                background: #eee;
            }
        }
        a:nth-child(1) {
            span{
                background-image: url('../images/subscribe-01.png');
                &:hover{
                    background-image: url('../images/subscribe-01-01.png');
                }
            }
            &:hover img{
                display: block;
            }
        }
        a:nth-child(2) {
            span{
                background-image: url('../images/subscribe-02.png');
                &:hover{
                    background-image: url('../images/subscribe-02-01.png');
                }
            }
            &:hover img{
                display: block;
            }
        }
        a:nth-child(3) span{
            background-image: url('../images/subscribe-03.png');
            &:hover{
                background-image: url('../images/subscribe-03-01.png');
            }
        }
        a:nth-child(4) span{
            background-image: url('../images/subscribe-04.png');
            &:hover{
                background-image: url('../images/subscribe-04-01.png');
            }
        }
        img{
            width: 180px;
            height: 180px;
            position: absolute;
            bottom: 31px;
            display: none;
        }
    }
}