*{
    box-sizing: border-box;
}
body{
    font: 14px/1.5 Helvetica,Tahoma,Arial,Hiragino Sans GB,Microsoft YaHei,SimSun,Heiti,sans-serif;
}
.typearea{
    width: 1240px;
    margin: 0 auto;
}
.clearfix::after{
    content: '';
    height: 0;
    display: block;
    visibility: hidden;
    clear: both;
}
header{
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 999;
    &>content{
        height: 82px;
    }
    .logo{
        float: left;
        padding: 28px 0;
        a{
            display: block;
            width: 125px;
            height: 24px;
            background: url('../images/logo.png') no-repeat 0 0/cover;
        }
    }
    .user-car{
        float: right;
        width: 29px;
        height: 29px;
        margin: 27px 0 0 8px;
        background: url('../images/buycar-white.png') no-repeat 0 center;
        position: relative;
        cursor: pointer;
        em{
            position: absolute;
            top: -2px;
            right: -3px;
            height: 15px;
            border-radius: 50%;
            background: #c00;
            color: #fff;
            line-height: 15px;
            text-align: center;
            display: inline-block;
            padding: 0 4px;
            text-indent: 0;
        }
        .user-car-info-box{
            position: absolute;
            top: 39px;
            right: -7px;
            width: 318px;
            min-height: 120px;
            font-size: 12px;
            background-color: #fff;
            box-shadow: 1px 1px 4px rgba(153,153,153,.3);
            border-radius: 3px;
            text-align: left;
            z-index: 999;
            &::after{
                position: absolute;
                content: '';
                top: -7px;
                left: 288px;
                width: 0;
                height: 0;
                border-left: 8px solid transparent;
                border-right: 8px solid transparent;
                border-bottom: 8px solid #fff;
            }
            .user-car-info{
                padding: 40px 0;
                height: 100%;
                text-align: center;
                overflow: hidden;
            }
            .user-car-status{
                display: inline-block;
                width: 47px;
                height: 42px;
                margin-right: 10px;
                vertical-align: middle;
                background-size: cover;
            }
            .login-before{
                background-image: url('../images/login-before.png')
                ;
            }
            .login-after{
                background-image: url('../images/login-after.png')
                ;
            }
            .user-car-text{
                display: inline-block;
                text-align: left;
                vertical-align: middle;
                color: #999;
            }
        }
    }
    .user-msg{
        float: right;
        width: 29px;
        height: 29px;
        margin: 27px 0 0 8px;
        position: relative;
        .user-list{
            width: 100%;
            height: 100%;
            background: url('../images/user-white.png') no-repeat;
            cursor: pointer;
        }
        .user-item{
            position: absolute;
            top: 37px;
            left: -34.5px;
            width: 98px;
            text-align: center;
            padding: 15px 0;
            box-shadow: 0 0 5px rgba(0,0,0,.1);
            background-color: #fff;
            display: none;
            &::after{
                content: '';
                position: absolute;
                top: -5px;
                left: 40px;
                width: 0;
                height: 0;
                border-left: 10px solid transparent;
                border-right: 10px solid transparent;
                border-bottom: 10px solid #fff;
            }
            li{
                font-size: 12px;
                margin-bottom: 15px;
                &:last-child{
                    margin-bottom: 0;
                }
                a{
                    color: #515151;
                    &:hover{
                        color: #008cff;
                    }
                }
            }
        }
        &:hover .user-item{
            display: block;
        }
    }
    .header-search{
        float: right;
        margin: 26px 5px 0 10px;
        width: 170px;
        height: 28px;
        border-color: transparent;
        line-height: 29px;
        font-size: 12px;
        border-radius: 20px;
        background-color: #fff;
        position: relative;
        input{
            display: block;
            border: none;
            padding: 0;
            outline: 0;
            height: 127px;
            height: 20px;
            margin: 5px 0 0 15px;
            transition: width .5s;
            font-size: 12px;
            line-height: 20px;
            color: #333;
            background-color: transparent;
        }
        a{
            position: absolute;
            top: 0;
            right: 0;
            width: 36px;
            height: 30px;
            padding-right: 2px;
            color: #515151;
            text-align: right;
            font-size: 22px;
        }
    }
    .topnav{
        float: right;
        .topnav-list{
            float: left;
            &>a{
                display: block;
                padding: 31px 20px 30px;
                line-height: 21px;
                transition: color .1s linear;
                color: #fff;
                &:hover{
                    color: #008cff!important;
                }
            }
        }
        .changeheader{
            &:hover .topnav-cover{
                height: 183px;
                border-bottom: 1px solid #e9e9e9;
            }
        }
    }
    .topnav-cover{
        position: absolute;
        top: 82px;
        left: 0;
        width: 100%;
        background-color: #fff;
        height: 0;
        border: none;
        overflow: hidden;
        transition: all .1s;
        .content{
            position: relative;
        }
        ul{
            width: 100%;
            height: 100%;
            text-align: center;
            padding: 5px 0 20px;
            position: absolute;
            top: 0;
            &:hover a{
                opacity: .5;
                transition: all .2s ease-in-out;
            }
        }
        li{
            display: inline-block;
            width: 142px;
            height: 140px;
            padding: 5px 5px 20px;
            font-size: 12px;
            text-align: center;
            a{
                display: block;
                width: 142px;
                color: #333;
                position: relative;
                &:hover{
                    opacity: 1;
                }
                img{
                    width: 120px;
                    height: 120px;
                    margin: 0 auto;
                }
                em{
                    font-style: normal;
                }
            }
        }
    }
    .appdown-cover{
        position: absolute;
        top: 82px;
        left: 0;
        width: 100%;
        // height: 320px;
        height: 0;
        background-color: #fff;
        overflow: hidden;
        img{
            width: 1240px;
            margin: 10px auto;
        }
        .down-left,
        .down-right{
            position: absolute;
            top: 210px;
            left: 50%;
            width: 125px;
            height: 28px;
            img{
                width: 100%;
            }
        }
        .down-left{
            transform: translateX(-245px);
        }
        .down-right{
            transform: translateX(378px);
        }
    }
    .appdown:hover .appdown-cover{
        height: 320px;
        transition: all .2s;
    }
}
footer{
    padding: 48px 0 20px;
    border-top: 1px solid #f1f1f1;
    font-size: 12px;
    color: #999;
    a{
        color: #999;
        &:hover{
            color: #008cff;
        }
    }
    .footer-server{
        float: left;
        li{
            float: left;
            width: 150px;
            text-align: center;
            a{
                display: block;
                line-height: 27px;
                font-size: 12px;
                color: #666;
            }
            img{
                width: 50px;
                margin: 0 auto;
            }
            span{
                line-height: 30px;
                color: #999
            }
        }
    }
    .footer-online{
        float: right;
        text-align: right;
        margin-top: -18px;
        span{
            color: #999;
            font-size: 12px;
            line-height: 30px;
        }
        p{
            color: #008cff;
            font-size: 25px;
            font-weight: 400;
            margin-top: -6px;
            line-height: 40px
        }
        a{
            height: 30px;
            padding: 0 16px;
            text-align: center;
            line-height: 30px;
            color: #fff;
            border-radius: 20px;
            margin-top: 3px;
            display: inline-block;
            background: #008cff
        }
    }
    .footer-line{
        margin: 10px auto 28px;
        height: 1px;
        border-top: 1px solid #eee;
    }
    .footer-info{
        float: left;
        li{
            float: left;
            padding-right: 15px;
            border-right: 1px solid #d6d6d6;    
            height: 18px;
            margin-right: 15px;
            a{
                display: block;
                position: relative;
                line-height: 18px;
                &:hover{
                    color: #008cff;
                }
            }
        }
        .language{
            border-right: none;
            position: relative;
            &:hover{
                .more-lang{
                    display: block;
                }
            }
            a{
                padding-right: 10px;
                padding-left: 3px;
                &:hover{
                    color: #515151;
                }
            }
            span{
                margin-bottom: -4px;
            }
            .lang-logo{
                display: inline-block;
                width: 18px;
                height: 18px;
                background: url('../images/language-sprite.png') no-repeat 0 0/cover;
                margin-left: -3px;
            }
            .more-lang{
                position: absolute;
                bottom: 18px;
                font-size: 12px;
                padding-bottom: 12px;
                display: none;
                li{
                    border: none;
                    margin: 0;
                    padding: 0;
                }
                ul{
                    overflow: hidden;
                    width: 115px;
                    background: #fff;
                    border: 1px solid #f1f1f1;
                }
                .lang-list{
                    height: 37px;
                    padding: 2px 4px 0 10px;
                    background: #fff;
                    line-height: 35px;
                }
            }
        }
        .certificate{
            padding-top: 8px;
            a{
                margin: 0 3px;
            }
        }
        .police{
            padding: 0 6px;
            span{
                display: inline-block;
                width: 14px;
                height: 18px;
                background: url('../images/footer-police.png') no-repeat 50% center;
                margin-bottom: -4px;
            }
        }
        .footer-license,
        .footer-wel,
        .footer-trust{
            margin: 0!important;
            span{
                display: inline-block;
                width: 20px;
                height: 18px;
                margin-bottom: -4px;
            }
        }
        .footer-license span{
            background: url('../images/footer-license-01.png') no-repeat 50% center;
            &:hover{
                background-image: url('../images/footer-license-02.png');
            }
        }
        .footer-wel span{
            background: url('../images/footer-wel-01.png') no-repeat 50% center;
            &:hover{
                background-image: url('../images/footer-wel-02.png');
            }
        }
        .footer-trust span{
            width: 25px;
            background: url('../images/footer-trust-01.png') no-repeat 50% center;
            &:hover{
                background-image: url('../images/footer-trust-02.png');
            }
        }
    }
    .subscribe{
        float: right;
        margin-top: 25px;
        position: relative;
        span{
            display: inline-block;
            width: 20px;
            height: 20px;
            margin-right: 20px;
            position: relative;
            background-repeat: no-repeat;
            background-position: 50%;
            background-size: 100%;
            &::after{
                content: '';
                width: 1px;
                height: 14px;
                position: absolute;
                right: -10px;
                bottom: 0;
                background: #eee;
            }
        }
        a:nth-child(1) {
            span{
                background-image: url('../images/subscribe-01.png');
                &:hover{
                    background-image: url('../images/subscribe-01-01.png');
                }
            }
            &:hover img{
                display: block;
            }
        }
        a:nth-child(2) {
            span{
                background-image: url('../images/subscribe-02.png');
                &:hover{
                    background-image: url('../images/subscribe-02-01.png');
                }
            }
            &:hover img{
                display: block;
            }
        }
        a:nth-child(3) span{
            background-image: url('../images/subscribe-03.png');
            &:hover{
                background-image: url('../images/subscribe-03-01.png');
            }
        }
        a:nth-child(4) span{
            background-image: url('../images/subscribe-04.png');
            &:hover{
                background-image: url('../images/subscribe-04-01.png');
            }
        }
        img{
            width: 180px;
            height: 180px;
            position: absolute;
            bottom: 31px;
            display: none;
        }
    }
}