@mixin float-left {
    float: left;
} 
@mixin float-right {
    float: right;
}
#main-swiper{
    width: 100%;
    .main-swiper{
        position: relative;
        height: 680px;
        overflow: hidden;
    }
    img{
        height: 680px;
        position: absolute;
        left: 50%;
        top: 0;
        transform: translateX(-50%);
    }
    .swiper-pagination-bullet{
        background-color: #fff;
        opacity: 0.8;
    }
    .swiper-pagination-bullet-active{
        background-color: transparent;
        border: 1px solid #fff;
    }
    a{
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 1240px;
        height: 100%;
    }
}
.main-content{
    min-width: 1240px;
    background-color: #f4f4f4;
    overflow: hidden;
}
.banner{
    margin-bottom: 50px;
    padding-bottom: 45px;
    background-color: #fff;
    border-bottom: 1px solid #eee;
    .banner-list{
        @include float-left();
        width: 310px;
        padding-top: 45px;
        transition: all .2s linear;
        &:hover{
            opacity: .85;
        }
        a{
            display: block;
            width: 100%;
            height: 100%;
            text-align: center;
        }
        img{
            width: 130px;
            margin: 0 auto 6px;
        }
        h4{
            color: #333;
            font-size: 20px
        }
        p{
            font-size: 14px;
            color: #999
        }
    }
}
.main-wrap{
    margin-bottom: 50px;
    .wrap-title{
        font-size: 30px;
        text-align: center;
        margin-bottom: 10px;
    }
    .wrap-bigimg{
        height: 450px;
        img{
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
        }
        a:hover{
            opacity: .85;
            transition: opacity .2s linear
        }
    }
    a{
        display: block;
        position: relative;
        width: 100%;
        height: 100%;
        overflow: hidden;
        color: #515151;
    }
    .wrap-content{
        li{
            @include float-left();
            margin: 10px 9px 0 0;
            width: 303px;
            height: 375px;
            background-color: #fff;
            transition: all .3s ease;
            text-align: center;
            overflow: hidden;
            &:hover{
                box-shadow: 0 15px 30px rgba(0,0,0,.1);
            }
            img{
                width: 230px;
                margin: 30px auto 0;
            }
            .goods{
                position: absolute;
                top: 270px;
                width: 100%;
            }
            span{
                display: block;
            }
            .goods-name{
                color: #333;
                font-size: 16px;
                margin-bottom: 2px;
            }
            .goods-desc{
                color: #999;
                font-size: 14px;
            }
            .goods-price{
                position: relative;
                padding-left: 14px;
                display: inline-block;
                color: #c00;
                font-size: 22px;
                i{
                    // position: absolute;
                    // left: 0;
                    // bottom: 3px;
                    font-size: 14px;
                    font-style: normal;
                }
                .del{
                    display: inline-block;
                    font-size: 14px;
                    margin-left: 8px;
                    color: #666;
                    text-decoration: line-through;
                }
            }
        }
        .big{
            width: 615px;
            height: 610px;
            img{
                width: 460px;
                position: absolute;
                bottom: 0;
                left: 50%;
                transform: translateX(-50%);
            }
            .freebie{
                position: absolute;
                top: 30px;
                left: 30px;
                width: 60px;
                height: 60px;
                line-height: 60px;
                color: #fff;
                font-size: 16px;
                text-align: center;
                border-radius: 50%;
                background-image: linear-gradient(120deg,#ff3149,#ff64a6);
            }
            .goods{
                position: absolute;
                top: 58px;
                left: 0;
                width: 100%;
                text-align: center;
                span{
                    display: block;
                    color: #333;
                }
                .goods-name{
                    font-size: 28px;
                }
                .goods-desc{
                    font-size: 18px;
                    margin-bottom: 3px;
                }
                .goods-price{
                    color: #c00;
                    font-size: 22px;
                    i{
                        font-style: normal;
                    }
                }
            }
        }
        .big2{
            margin-right: 0;
        }
        .last{
            margin-right: 0;
        }
        .goods-set{
            img{
                width: 100%;
                height: 100%;
                margin-top: 0;
            }
            .goods-name{
                color: #fff;
                font-size: 21px;
                font-weight: 700;
                margin-bottom: 0;
            }
            .goods-desc{
                color: #fff;
            }
            .goods-price{
                font-weight: 700;
                i{
                    left: -4px;
                    bottom: 1px;
                    font-size: 22px;
                }
            }
        }
    }
}
.community{
    a{
        height: 339px;
    }
    .wrap-content{
        li{
            height: 388px;
            margin: 0 9px 9px 0;
            .community-img img{
                width: 303px;
                height: 190px;
                margin: 0;
            }
            .community-user-info{
                height: 42px;
                line-height: 42px;
                margin-top: 10px;
                padding: 0 15px;
                img{
                    @include float-left();
                    width: 36px;
                    height: 36px;
                    border: 1px solid #fff;
                    border-radius: 50%;
                    box-shadow: 1px 1px 1px 1px #eee;
                    margin: 0;
                }
                .community-user-name{
                    @include float-left();
                    margin-left: 15px;
                }
            }
            .experience{
                padding: 10px 15px 15px;
                font-size: 16px;
                line-height: 27px;
                text-align: left;
                height: 66px;
            }
            .tip{
                color: #999;
                padding: 0 15px;
                margin-top: 10px;
                text-align: left;
            }
        }
    }
}
.flyme{
    .wrap-content{
        li{
            height: 245px;
            margin: 0 9px 15px 0;
            .flyme-img img{
                width: 100%;
                height: 190px;
                margin: 0;
            }
            p{
                font-size: 16px;
                line-height: 55px
            }
        }
        .first{
            width: 615px;
            img{
                width: 100%;
                margin: 0;
            }
        }
    }
}
.video{
    .wrap-content{
        li{
            height: 244px;
            margin: 0 9px 9px 0;
            .video-img{
                position: relative;
                img{
                width: 100%;
                height: 190px;
                margin: 0;
                } 
                .video-play{
                    position: absolute;
                    right: 15px;
                    bottom: 15px;
                    width: 30px;
                    height: 30px;
                    background: url('../images/video-play.png') no-repeat;
                    background-size: cover;
                }
            }
            p{
                font-size: 16px;
                line-height: 55px;
            }
        }
    }
}